<div class="main">
  <div class="container">
    <h1>Viewing Average Grade for course: <%= @chosencourse %></h1>
  </div>
</div>

<div class="Administrators">
  <div class="container">
      <div class="semester">
         <p>Teacher: <%= @teachername.name %> </p>
         <p>Average Grade: <%= @avggrade %> </p>
      </div>
  </div>
</div>
